

@model EndPoint.ViewModels.Catalogs.CatalogTypeViewModel;
@{
    var title = "Create Type";
}

@* @model Domain.Entities.Bookvw
@{
    var title = "Create Book";
}
 *@

<form method="post" asp-action="Crate">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row p-3 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.DisplayNameFor(model => model.Id)
            <input asp-for="Id" />

            <div class="col-12 border-bottom">
                <h2 class="text-primary">@title</h2>
            </div>
            <div class="col-8 pt-4">


                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Type"></label>@Html.DisplayNameFor(model => model.Type)
                    </div>
                    <div class="col-8">

                        <input asp-for="Type" class="form-control" />
                        
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>


                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>



            </div>
        </div>
        
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}