@page
@model EndPoint.Areas.Admin.Views.CatalogType.IndexModel
@{
}

       
                       
                                        <div class="dt-buttons">
                                            <a asp-page="create" class="dt-button buttons-print btn" tabindex="0" aria-controls="html5-extension">
                                                <span>ثبت جدید</span>
                                            </a>
                                        </div>
                        
                            <div class="col-md-12">
                                <table id="html5-extension" class="table table-hover non-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="html5-extension_info">
                                    <thead>
                                        <tr role="row">
                                            <th >شناسه</th>
                                            <th > نام </th>
                                            <th >تعداد - فرزند ها</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CatalogList.Data)
                                        {
                                            <tr >
                                                <td > @item.Id</td>
                                                <td>  @item.Type </td>
                                                <td> @item.SubTypeCount  </td>

                                                <td>
                                                    <div >
                                                        <button >بیشتر</button>
                                                    
                                                        <div>
                                                            <a >ویرایش</a>
                                                            <a >item.Id">حذف</a>
                                                            <a >افزودن فرزند</a>
                                                            <div></div>
                                                            <a >لیست فرزند ها</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                 
                                